name: roulette
description: This is a library provide a simple roulette widget which usually used for lottery.
version: 0.1.3
repository: https://github.com/do9core/roulette

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.1

flutter:

