name: Verify and Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  check:
    name: "Static analyze and Logic tests"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install Flutter
        uses: britannio/action-install-flutter@v1.1

      - name: Install dependencies
        run: flutter pub get

      - name: Verify formatting
        run: dart format --output=none --set-exit-if-changed .

      - name: Analyze project source
        run: dart analyze --fatal-infos

      - name: Run logic tests
        run: flutter test test/logic_test.dart

  presentation-test:
    name: "Presentation tests"
    # Should run on same os with golden files
    runs-on: macos-13
    steps:
      - uses: actions/checkout@v3

      - name: Install Flutter
        uses: britannio/action-install-flutter@v1.1

      - name: Run presentation tests
        run: flutter test test/presentation_test.dart
